@page
@model RazorPagesSquadFinder.Pages.SquadMembers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SquadMember[0].Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SquadMember[0].Squad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SquadMember) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Squad.SquadId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SquadMemberId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SquadMemberId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SquadMemberId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
